/*jhu blue #003e7d, */
* { 
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1080px;
    min-height: 100vh;
    background: #f9f9f9;
    margin: 0 auto;
  }

.menu {
    position: sticky;
    height: 100px;
    background: linear-gradient(to right,rgba(0,45,114, 1) 50%, rgba(0,45,115, 0.5) 60%, rgba(255,255,255,0) 100%), url('./images/Star_background_esa.jpg');
    background-size: 100% 250px, 50% 250px;
    background-repeat: repeat, no-repeat;
    background-position: left, right;
}

.menu:hover{
    position: sticky;
    background: linear-gradient(to right,rgba(0,45,114, 1) 50%, rgba(0,45,115, 0.7) 70%, rgba(255,255,255,0) 100%), url('./images/CMB_background.jpg') no-repeat;
    background-size: 100% 250px, 50% 250px;
    background-repeat:  repeat, no-repeat;
    background-position: left, right;
}



.menu h3 {
    position: relative;
    color: #f9f9f9;
    font-family: quadon,Quadon,gentona,Gentona,calibri,helvetica,arial,sans-serif;
    font-weight: 400;
    font-size: 3rem;
    text-decoration: none;
    border: none;
}


.liveButton {
    position: relative;
    background: url('./icons/media-record.svg') no-repeat;
    border: none;
    background-size: 100%;
    left: 5px;
    width: 40px;
    height: 40px;
}

.liveStream {
    position: absolute; 
    left: 10px;
    top: 80px;
    height: 230px;
    width: 400px;
}

.liveStreamlarge {
    position: sticky;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 621px;
}

.feed, 
.video {
    height: 100%;
    width: 100%;
}

.fullscreenin, .fullscreenout{
    position: absolute;
    background: url('./icons/fullscreen-enter.svg') no-repeat;
    background-size: 50%;
    border: none;
    width: 40px;
    height: 40px;
    bottom: 0;
    right: 0;
}

.fullscreenout {
    background: url('./icons/fullscreen-exit.svg') no-repeat;
    background-size: 50%;
}