/*jhu blue #003e7d, */
@font-face {
    font-family: "Gentona-Light";
    src: url("./Fonts/Gentona-Light.woff");
}
@font-face {
    font-family: "Gentona-SemiBold";
    src: url("./Fonts/Gentona-SemiBold.woff");
}

:root {
	--fonts: Gentona-Light,system-ui,BlinkMacSystemFont,-apple-system,Segoe UI,sans-serif;
	--header-fonts: Gentona-SemiBold;
}


* { 
    margin: 0;
    padding: 0;
}


.container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    min-height: 780px;
    max-height: 100%;
    background: #f9f9f9;
    margin: 0 ;
    overflow: hidden;
  }

.menu {
    position: sticky;
    height: 100px;
    background: linear-gradient(to right,rgba(0,45,114, 1) 50%, rgba(0,45,115, 0.5) 70%, rgba(255,255,255,0) 100%), url('./images/Star_background_esa.jpg');
    background-size: 100% 250px, 50% 250px;
    background-repeat: repeat, no-repeat;
    background-position: left, right;
}

.menu:hover{
    position: sticky;
    background: linear-gradient(to right,rgba(0,45,114, 1) 50%, rgba(0,45,115, 0.7) 70%, rgba(255,255,255,0) 100%), url('./images/CMB_background.jpg') no-repeat;
    background-size: 100% 250px, 50% 250px;
    background-repeat:  repeat, no-repeat;
    background-position: left, right;
}



.links {
    position: relative;
    height: 50%;
    width: 100%;
}

.routes {
    position: relative;
    float: left;
    display: inline;
    height: 40px;
    padding-left: 50px
}

.liveButton {
    position: relative;
    background: url('./icons/media-record.svg') no-repeat;
    border: none;
    background-size: 100%;
    left: 5px;
    width: 40px;
    height: 40px;
}

.liveStream {
    position: absolute; 
    right: 10px;
    top: 100px;
    z-index: 100;
	width: 30vw;
    height: 40vh;
}

.liveStreamlarge {
    position: absolute;
    left: 50%;
    top: 100px;
	transform: translateX(-50%);
    z-index: 100;
	width: 85vw;
    height: 85vh;
    min-height: 780px;
}

.feed, 
.video {
    height: 100%;
    width: 100%;
}

.fullscreenin, .fullscreenout{
    position: absolute;
    background: url('./icons/fullscreen-enter.svg') no-repeat;
    background-size: 50%;
    border: none;
    width: 40px;
    height: 40px;
	bottom: 0;
    right: 5%;

	cursor: pointer;
}

.fullscreenout {
	width: 70px;
	height: 70px;
	bottom: -2%;
    background: url('./icons/fullscreen-exit.svg') no-repeat;
    background-size: 50%;
}



/*SRT styling*/
.rootContainer {
    margin:auto;
    position: relative;
    width: 60%;
    height: 100%;
    align-content: center;
}


.basicCommands {
    width: 50%;
    position: relative;
    align-content: center;
}

.basicCommands {
    position: relative;
    float: left;
}

.record {
	width: 30%;
}

.record:invalid {
    background-color: red;
    border: 2px solid red;
}

.email {
    border: 2px solid green;
}

.email:invalid {
    border: 2px solid red;
}

.commands {
    position: relative;
    float: left;
    right:0;
    top:0;
    margin-top:2%;
    width: 50%;
    height: 100%;
}

.commands textarea {
    position:relative;
    resize: none;
    margin-top: 2%;
    width: 100%;
    height: 75vh;
}

.commands textarea:invalid{
    border: 2px solid red;
}

.commands input[type="button"] {
	float: right;
	margin-top: 2%;
	width: 30%;
}

.break {
    padding-top: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 98%;
}


.settings {
    margin-left: 10%;
    margin-top: 3px;
    margin-bottom: 3px;
}


.settings:invalid{
    border: 2px solid red;
}

/*Input type range*/
input[type=range] {
    --thumb-width: 3px;
     width: 100%;
     max-width: 100%;
     margin-left: 0;
}

datalist {
    width: 100%;
    max-width: 100%;
}

input[type=range] + datalist{
    display: block;
    margin-top: -4px;
}

input[type=range] + datalist option {
    display: inline-block;
    width: calc((100% )  / ((var(--list-length) - 1) ) );
    text-align: center;
}

input[type=range] + datalist option:first-child {
    display: inline-block;
    width: 0;
    text-align: left;
}

input[type=range] + datalist option:last-child {
    display: inline-block;
    margin-left: -10px;
    width: 0;
    text-align: left;
    
}
input[type=range]::-moz-range-thumb {
    background: #eee;
    
    box-sizing: border-box;
    width: var(--thumb-width);
    height: 20px;
    
    cursor: pointer;
    
    border: 1px solid #888;
    border-radius: 3px;
}
input[type="range"]::-moz-range-track {
    background: #eee;
    cursor: pointer;
    height: 2px;
    border: 1px solid #888;
    border-radius: 1px;
}

.rangeElem{
	margin-top:4%;
}
.rangeWithOutput{
    display: flex;
    width: 100%;
}
.range {
    position: inline-block;
    width: 75%;
}
.rangeOutput {
    padding-left: 3%;

}

.popupbg {
    position: absolute;
    height: 100%;
    width: 100%;
    background: grey;
    opacity: 40%;
    z-index: 2;
}
.add {
	width:20%;
	float: right;
	bottom: 0;
	transform: translateX(-100%);
}

.addRanges {
	width: 20%;
	float: right;
	transform: translateX(-95%);
	margin-top: 2%;
}

/*login*/
.login {
    position: absolute;
    top:50%;
    left: 50%;
    z-index: 3;
    transform: translateX(-50%) translateY(-60%);
    width: 478px;
    min-height: 420px;
    max-width: 100%;
    max-height: 100%;
    background: white;
    border-radius: 2%;
}

.login > div {
    position: fixed;
    transform: translateY(35%);
    width: 100%;
    height: 50%;
}

.login > div > div{
    display: inline-block;
    transform: translateX(15%);
    width: 80%;
    float: left;
}

.loginInput {
    display: flex;
    height: 25%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.loginInput > input[type="text"] {
	margin-top: 1%;
    width: 90%;
    height: 60%;
}

.loginInput > input[type="button"] {
    width: 90%;
    height: 75%;
}

.loginInput > input[type="text"]:invalid {
    border: 1px solid red;
}

#authLabel {
    position: relative;
    margin-top: 2%;
    float: right;
    transform: translateX(-10%);
    color: red;
}

#close {
    position: absolute;
    background: url('./icons/x.svg') no-repeat;
    background-size: 100%;
    border: none;
    width: 25px;
    height: 25px;
    z-index: 10;
    top: -5%;
    right: 15%;
}

/*Class Route*/
#srt1 {
	width: 50%;
	height: 90%;
	min-height: 850px;
	left:0;
}

#srt2 {
	width: 50%;
	height: 90%;
	min-height: 850px;
	right: 0;
}

#classRoute {
	transform: translateX(5.5%);
	height: 80%;
	min-height: 600px;
	/*background: rgba(128, 128, 128, 0.9);*/
	background: linear-gradient(rgba(128, 128, 128, 0.8) 20%,  transparent );
	
}

#classRoute div {
	position: relative;
	display: inline-block;
	transform: translateX(70%);
	top: 0;
	margin:40px;
}
#classRoute div:hover {
	background-color: grey;
}
#classRoute div label {
	font-family: Gentona-Light,system-ui,BlinkMacSystemFont,-apple-system,Segoe UI,sans-serif;;
	color:white;
	position: absolute;
	bottom:0;
	left:0;
	transform: translateX(9%);
	white-space: nowrap;
}

.brochures img{
	margin: 15px;
	margin-bottom: 20px;
}

.telescopeImages {
	position: absolute;
	height: -30px;
	
}

#contrast {
	transform: translateX(7.5%);
	width:100%;
	height: 20%;
	min-height: 100px;
	background: linear-gradient( grey 0, transparent)

}

/*Admin route */
table {
	left: 50%;
	transform: translateX(20%);
	width: 75%;
	height: 100%;
	text-align: center;
	vertical-align: center;
	border: black solid 1px;
}
thead {
	font-family: sans-serif;
	font-size: 24px;
	text-transform: uppercase;
	background-color:rgba(0,45,114);
	color: white;
}
tbody {
	font-family: var(--fonts);
	border-collapse: collapse;
}
td, th {
	width: 20%;
	padding: 100 rem;
}
tbody tr:nth-child(odd) {
	background-color: #fff;
}
tbody tr:nth-child(even) {
	background-color: #eee;
}
tbody tr:nth-child(odd) .usrDelete{
	background-color: rgba(255,0,0,0.05);
}
tbody tr:nth-child(even) .usrDelete{
	background-color: rgba(255,0,0,0.5);
}	
.usrDelete:hover {
	cursor: pointer;
}
#adminBut1, #adminBut2 {
	width: 25%;
	height: 30px;
	right: 0;
	font-size: 17px;
	transform: translateX(55%);

	margin-top: 5%;
}

/*Fonts*/
.route-linkto,
.home-linkto {
    position: relative;
    color: #f9f9f9;
    font-family: Gentona-Light,system-ui,BlinkMacSystemFont,-apple-system,Segoe UI,sans-serif;
    text-decoration: none;
    border: none;
}

.home-linkto {
    font-size: 2.5rem;
    font-family: Gentona-SemiBold;
}

.route-linkto {
    font-size: 1.7rem;
}

/*Toast*/
.toast{
	position: absolute;
	top: 12%;
	left: 50%;
	transform: translateX(-50%);
	padding-top: 30px;
	padding-bottom: 30px;
	width: 240px;
	border-radius: 10px;	
	text-align: center;
	color: white;
	font-family: var(--fonts);
	font-size: large;

	-webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
	animation: fadein 0.5s, fadeout 0.5s 4.5s;
}
@-webkit-keyframes fadein {
	from {top: 8%; opacity: 0;}
	to {top: 12%; opacity: 1;}
}
@keyframes fadein {
	from {top: 8%; opacity: 0;}
	to {top: 12%; opacity: 1;}
}
@-webkit-keyframes fadeout {
	from {top: 12%; opacity: 1;}
	to {top: 8%; opacity: 0;}
}
@keyframes fadeout {
	from {top: 12%; opacity: 1;}
	to {top: 8%; opacity: 0;}
}
.error {
	background-color: rgba(255, 0, 0, 1);
	opacity: 95%;
}

.success {
	background-color: rgb(0, 147, 0);
	opacity: 95%;
}



/*General Css*/
.button{ 
	font-family: var(--fonts);
}
