<div class="liveFeed">
    <div class="title">
        <h3> Live look at the telescope</h3>
    </div>
    <div class="videoFeed">
        <video controls width="200">
            <source class="video"
                src="http://{{this.username}}:{{this.password}}@{{this.IPaddress}}/{{this.static}}"
                type="video/mp4"
                autoplay="true">
        </video> 
    </div>
</div>