<nav class='menu' >
    <LinkTo @route='srt' class='menu-index'>
        <h3> Classroom Cosmology</h3> 
    </LinkTo>
    <div class='links'>        
        <input  type="button" class="liveButton"  {{on "click" this.toggleShow}}>
    </div>
</nav>