<nav class='menu' >
    <LinkTo @route='srt' class="home-linkto">
        <h3> Classroom Cosmology</h3> 
    </LinkTo>
    
    <div class='links'>  
        <div class="routes">
            <Input  @type="button" class="liveButton"  {{on "click" this.toggleShow}}/>  
        </div>    
        <div class="routes">
            <LinkTo @route="class" class="route-linkto">
                <h3>Class</h3>
            </LinkTo> 
        </div>  
        <div class="routes">
            <LinkTo @route="guide" class="route-linkto">
                <h3>Guide</h3>
            </LinkTo> 
        </div>  
        <div class="routes">
            <LinkTo @route="about" class="route-linkto">
                <h3>About</h3>
            </LinkTo> 
        </div>  
        {{#if this.authentication.isAuthenticated}}
            {{#if this.isAdmin}}
                <div class="routes">
                    <LinkTo @route="admin" class="route-linkto">
                        <h3>Admin</h3>
                    </LinkTo> 
                </div>
            {{/if}}
            <div class="routes">
                <LinkTo @route="srt" class="route-linkto" {{on "click" this.logout}}>
                    <h3>Logout</h3>
                </LinkTo>
            </div> 
        {{else}}
            <div class="routes">
                <LinkTo @route="srt" class="route-linkto" {{on "click" this.login}}>
                    <h3>Login</h3>
                </LinkTo>
            </div> 
        {{/if}}    
    </div>
</nav>