{{page-title "Classroom Cosmology"}}

<div class='container'>
    <NavBar::NavBar/>
	<Livefeed::Livefeed/>
	<Login::Login/>
    <div class='body'>
        {{outlet}}
    </div>
	<Toast::Toast/>

</div>